@import '~@reuters-graphics/style-theme-eisbaer/scss/main';
@import '~@reuters-graphics/style-color/scss/thematic/brand';
@import '~@reuters-graphics/style-color/scss/all';

$LineChart-container: '#polls-line-chart-container' !default;

#{$LineChart-container} {

  /* Write your chart styles here */
  .axis {
    pointer-events: none;

    text {
      font-family: $font-family-sans-serif;
      fill: $gray-400;
      font-size: 0.875rem;
    }

    .tick {

      
      line,
      path {
        stroke: $gray-200;
        stroke-width: 1px;
      }

      &.mid line,
      path {
        stroke: $gray-300;
      }
    }

    path.domain {
      display: none;
    }
  }

  text.bkgd {
    paint-order: stroke;
    stroke: white;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  g.line-group {

    .lbl-group {
      display: none;

      &.active {
        display: block;
      };
    }

    text.lbl-val {
      font-size: 1.3rem;
      font-weight: 600;
    }

    text.lbl-cat {
      font-size: .875rem;
    }

    path.line {
      fill: none;
      stroke-width: 2;
    }

    path.moe {
      opacity: 0.1;
    }

    &.total-approve {
      // path.moe {
      //   fill: $green-400;
      // }

      // path.line {
      //   stroke: $green-400;
      // }

      // text.fore {
      //   fill: $green-400;
      // }
    }

    &.total-disapprove {
      // path.moe {
      //   fill: $orange-400;
      // }

      // path.line {
      //   stroke: $orange-400;
      // }

      // text.fore {
      //   fill: $orange-400;
      // }
    }
  }


  .x.axis .tick {
    display: none;

    &.active {
      display: block;
    }
  }


  g.tt {
    display: none;
    pointer-events: none;
    
    &.active {
      display: block;
    };
    
    circle {
      stroke: white;
      stroke-width: 2;
    }

    text {
      text-anchor: middle;
    }

  }


}